/* Global */
/* Colors */
html {
  --primary: #49654C;
  --white: #FFFFFF;
  --gray: #444444;
  --lightgray: #888888;
  --darkgray: #333333;
}

.darkmode {
  --primary: #6a946a;
  --white: #222222;
  --gray: #eeeeee;
  --lightgray: #838383;
  --darkgray: #eeeeee;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Blocks */
/* Page */
.page {
  min-height: 100%;
  margin: 0px;
  color: var(--gray);
  font-family: 'Sen', sans-serif;
  background-color: var(--white);
}

@media (max-width: 480px) {
  .page {
    font-size: 16px;
    line-height: 1.7;
  }
}

@media (min-width: 481px) and (max-width: 991px) {
  .page {
    font-size: 17px;
    line-height: 1.8;
  }
}

@media (min-width: 992px) {
  .page {
    font-size: 18px;
    line-height: 1.9;
  }
}

/* Header */
.page__header {
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0px;
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  padding: 0px 8%;
  background-color: var(--primary);
}

/* Logo */
.header__logo {
  color: var(--white);
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Nav */
@media (max-width: 992px) {
  .header__nav {
    position: absolute;
    top: 70px;
    left: 0px;
  }
}

/* Main */
.main {
  min-height: 100vh;
}

@media (max-width: 480px) {
  .main {
    padding: 120px 8% 0px;
  }
}

@media (min-width: 481px) and (max-width: 991px) {
  .main {
    padding: 125px 8% 0px;
  }
}

@media (min-width: 992px) {
  .main {
    padding: 130px 8% 0px;
  }
}

/* Focus */
.main__focus {
  max-width: 720px;
  margin: 0px auto;
}

/* Title */
.main__title {
  margin: 0px;
  padding: 0px;
  color: var(--lightgray);
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Publication */
/* Title */
.publication__title {
  margin: 0px;
  color: var(--darkgray);
  line-height: 1.2;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .publication__title {
    font-size: 27px;
  }
}

@media (min-width: 481px) and (max-width: 991px) {
  .publication__title {
    font-size: 37px;
  }
}

@media (min-width: 992px) {
  .publication__title {
    font-size: 47px;
  }
}

/* Content */
.publication__content {
  margin: 0px 0px 40px;
}

.publication__content p:first-child {
  margin-top: 15px;
}

.publication__content h2 {
  color: var(--darkgray);
  line-height: 1.2;
  text-transform: uppercase;
}

.publication__content h3 {
  color: var(--darkgray);
  line-height: 1.2;
  text-transform: uppercase;
}

.publication__content img {
  display: block;
  width: 100%;
  margin: 20px 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.publication__content a {
  color: var(--primary);
  text-decoration: none;
}

@media (max-width: 480px) {
  .publication__content {
    margin: 0px 0px 50px;
  }
  .publication__content p {
    margin: 20px 0px;
  }
  .publication__content h2 {
    margin: 40px 0px 20px;
    font-size: 25px;
  }
  .publication__content h3 {
    margin: 40px 0px 20px;
    font-size: 20px;
  }
  .publication__content h2 + h3 {
    margin: 20px 0px;
  }
  .publication__content img {
    margin: 20px 0px;
  }
}

@media (min-width: 481px) and (max-width: 991px) {
  .publication__content {
    margin: 0px 0px 55px;
  }
  .publication__content p {
    margin: 25px 0px;
  }
  .publication__content h2 {
    margin: 50px 0px 25px;
    font-size: 30px;
  }
  .publication__content h3 {
    margin: 50px 0px 25px;
    font-size: 25px;
  }
  .publication__content h2 + h3 {
    margin: 25px 0px;
  }
  .publication__content img {
    margin: 25px 0px;
  }
}

@media (min-width: 991px) {
  .publication__content {
    margin: 0px 0px 60px;
  }
  .publication__content p {
    margin: 30px 0px;
  }
  .publication__content h2 {
    margin: 60px 0px 30px;
    font-size: 35px;
  }
  .publication__content h3 {
    margin: 60px 0px 30px;
    font-size: 30px;
  }
  .publication__content h2 + h3 {
    margin: 30px 0px;
  }
  .publication__content img {
    margin: 30px 0px;
  }
}

/* Preview */
.preview {
  position: relative;
  max-width: 720px;
}

.preview::before {
  position: absolute;
  top: 0px;
  left: 50%;
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  margin: 0px 0px 0px -25px;
  background-color: var(--lightgray);
}

.preview:nth-child(2)::before {
  display: none;
}

@media (max-width: 480px) {
  .preview {
    padding: 50px 0px;
  }
}

@media (min-width: 481px) and (max-width: 991px) {
  .preview {
    padding: 55px 0px;
  }
}

@media (min-width: 992px) {
  .preview {
    padding: 60px 0px;
  }
}

/* Title */
.preview__title {
  margin: 0px;
  color: var(--darkgray);
  line-height: 1.2;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .preview__title {
    font-size: 27px;
  }
}

@media (min-width: 481px) and (max-width: 991px) {
  .preview__title {
    font-size: 37px;
  }
}

@media (min-width: 992px) {
  .preview__title {
    font-size: 47px;
  }
}

/* Text */
.preview__text {
  margin: 0px;
}

/* Button */
.preview__button {
  display: block;
  height: 40px;
  margin: 20px 0px 0px;
  color: var(--primary);
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid var(--primary);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 480px) {
  .preview__button {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .preview__button {
    width: 145px;
  }
}

/* Meta */
.meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px 0px 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Tag */
.meta__tag {
  margin: 0px 10px 0px 0px;
  color: var(--lightgray);
  font-size: 15px;
  line-height: 1.5;
}

.meta__tag::after {
  position: relative;
  right: -4px;
  content: "/";
  display: inline-block;
  height: 14px;
  overflow: hidden;
}

.meta__tag:last-child {
  margin: 0px;
}

.meta__tag:last-child::after {
  display: none;
}

/* Nav */
.nav {
  background-color: var(--primary);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 992px) {
  .nav {
    width: 100%;
    padding: 0px 8%;
  }
}

/* List */
.nav__list {
  margin: 0px;
  padding: 0px;
  font-size: 0;
  list-style-type: none;
}

@media (max-width: 992px) {
  .nav__list {
    display: none;
    padding: 0px 0px 20px;
  }
  .nav__list .nav__list {
    padding: 0px;
  }
  .nav__list_active {
    display: block;
  }
}

@media (min-width: 992px) {
  .nav__list .nav__list {
    position: absolute;
    top: 55px;
    right: -35px;
    display: none;
    background-color: var(--primary);
  }
  .nav__list .nav__list_active {
    display: block;
  }
}

/* Item */
.nav__item {
  position: relative;
  color: var(--white);
  font-size: 17px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: 992px) {
  .nav__item {
    display: inline-block;
    margin: 0px 35px 0px 20px;
  }
  .nav__item .nav__item {
    display: block;
    margin: 0px;
    padding: 10px 35px;
  }
}

/* Link */
.nav__link {
  display: inline-block;
  height: 40px;
  color: var(--white);
  text-transform: none;
  font-weight: normal;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .nav__link {
    margin: 0px 0px 0px 30px;
  }
}

/* Button */
.nav__button {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
}

@media (max-width: 992px) {
  .nav__button {
    top: 0px;
    right: -10px;
  }
  .nav__button_menu {
    top: -55px;
    right: calc(8% - 10px);
  }
}

@media (min-width: 992px) {
  .nav__button {
    top: 0px;
    right: -45px;
    cursor: pointer;
  }
  .nav__button_menu {
    display: none;
  }
}

/* Icon */
.nav__icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.nav__icon_list_active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav__icon_theme_active {
  fill: var(--black);
}

.nav__icon_menu,
.nav__button_active .nav__icon_x-mark {
  display: block;
}

.nav__icon_x-mark,
.nav__button_active .nav__icon_menu {
  display: none;
}

/* Footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 8%;
  background-color: var(--primary);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* List */
.footer__list {
  margin: 0px;
  padding: 0px;
  font-size: 0px;
  list-style-type: none;
}

/* Item */
.footer__item {
  position: relative;
  margin: 0px 0px 0px 35px;
}

@media (min-width: 992px) {
  .footer__item {
    display: inline-block;
    margin: 0px 20px 0px 35px;
  }
}

/* Link */
.footer__link {
  display: inline-block;
  color: var(--white);
  font-size: 17px;
  line-height: 40px;
}

.footer__icon {
  position: absolute;
  top: 10px;
  left: -35px;
  width: 20px;
  height: 20px;
  fill: var(--white);
}

.footer__link_facebook::after {
  background-image: url(../img/icon/iconmonstr-facebook-1.svg);
}
/*# sourceMappingURL=style.css.map */