html
    --primary: #49654C

    --white: #FFFFFF
    --black: #000000

    --gray: #444444
    --lightgray: #888888
    --darkgray: #333333

html[data-theme="dark"]
    --primary: #49654C

    --white: #FFFFFF
    --black: #000000

    --gray: #444444
    --lightgray: #888888
    --darkgray: #333333
    