html
    --primary: #49654C

    --white: #FFFFFF
    --black: #000000

    --gray: #444444
    --lightgray: #888888
    --darkgray: #333333

    --facebook: #485d9c
    --instagram: #745d9c
    --telegram: #4482a1

html[data-theme="dark"]
    --primary: #49654C

    --white: #FFFFFF
    --black: #000000

    --gray: #444444
    --lightgray: #888888
    --darkgray: #333333

    --facebook: #485d9c
    --instagram: #745d9c
    --telegram: #4482a1
