.button
    width: 145px
    height: 40px
        
    font-size: 11px
    font-weight: bold
    line-height: 40px
    text-decoration: none
    text-transform: uppercase
    text-align: center

    //border-radius: 2px
    
    user-select: none
        
    &_read-on
        margin: 0px 15px 0px 0px

        color: white

        background-color: var(--primary)
    
    &_read-later
        color: var(--primary)
        
        border: 1px solid var(--primary)
    
    &_load-more
        color: var(--white)

        background-color: var(--black)

    &_share
        display: flex
        height: 50px

        color: white
        
        flex: 1
        justify-content: center
        align-items: center

        & svg
            width: 
            height: 
            
        &_facebook
            margin: 0px 15px 15px 0px
            background-color: var(--facebook)

        &_instagram
            margin: 0px 0px 15px
            background-color: var(--instagram)

        &_telegram
            min-width: 100%
            background-color: var(--telegram)

@media (max-width: 480px)
    .button
        width: auto

        &_read-on
            margin: 0px 0px 15px

        &_read-later

        &_load-more
            width: 145px

        &_share
            height: 38px
            line-height: 38px
            
            &_facebook
                //margin: 0px 0px 15px 0px

            &_instagram
                //margin: 0px 0px 15px 0px

            &_telegram
