.button
    position: relative
    width: 145px
    height: 40px
        
    font-size: 17px
    line-height: 40px
    text-decoration: none
    text-transform: uppercase
    text-align: center
    
    user-select: none
        
    &_read-on
        //margin: 0px 15px 0px 0px

        color: var(--white)

        background-color: var(--primary)
    
        //&::after
            position: absolute
            top: 5px
            left: 85px
            
            width: 20px
            height: 20px

            content: url(../img/icon/iconmonstr-book-15.svg)
    
    //&_read-later
        color: var(--primary)
        
        border: 2px solid var(--primary)

        //&::after
            position: absolute
            top: 5px
            left: 85px
            
            width: 20px
            height: 20px

            content: url(../img/icon/iconmonstr-book-4.svg)

    //&_share
        margin: 0px 15px 0px 0px

        color: var(--white)

        background-color: var(--primary)

        //&::after
            position: absolute
            top: 5px
            left: 85px
            
            width: 20px
            height: 20px

            content: url(../img/icon/iconmonstr-share-1.svg)
    
@media (max-width: 480px)
    .button
        width: auto

        //&_read-on
            margin: 0px 0px 15px

        //&_share
            margin: 0px 0px 15px

        //&_read-later
            