.button
    width: 145px
    height: 40px
    padding: 0px 25px
        
    font-size: 11px
    font-weight: bold
    line-height: 40px
    text-decoration: none
    text-align: center
    text-transform: uppercase
    
    user-select: none
        
    &_read-on
        margin: 0px 15px 0px 0px

        background-color: $key-color-green
        color: white
    
    &_read-later
        border: 1px solid $key-color-green
        
        //background-color: $key-color-green
        color: $key-color-green
    
    &_load-more
        background-color: $color-black
        color: $color-white

    &_share
        //flex: 1
        width: 100%
        min-width: 125px
        height: 50px

        line-height: 48px
        color: white
            
        &_facebook
            margin: 0px 15px 0px 0px
            background-color: $color-facebook

        &_instagram
            margin: 0px 15px 0px 0px
            background-color: $color-instagram

        &_telegram
            background-color: $color-telegram

@media (max-width: 480px)
    .button
        width: auto

        &_read-on
            margin: 0px 0px 15px

        &_read-later

        &_load-more
            width: 145px

        &_share
            height: 38px
            line-height: 38px
            
            &_facebook
                margin: 0px 0px 15px 0px

            &_instagram
                margin: 0px 0px 15px 0px

            &_telegram
