.excerpt
    margin-bottom: 60px

    &-meta
        margin-bottom: 30px

        user-select: none

    &-buttons-group
        height: 42px
        margin-top: 30px

        font-size: 0 // уберает пробелы между блочно-строчными элементами
    
    &-button
        display: inline-block
        //width: 145px
        //height: 40px
        //border: 1px solid black
        //padding: 0px 20px
        
        //text-decoration: none
        //font-size: 11px
        //line-height: 40px
        //text-align: center
        //text-transform: uppercase
        //user-select: none

        //transition: all .1s ease-in-out
        
        &_read-on
            margin: 0px 15px 0px 0px

            color: white
            background-color: $key
        
        &_read-later
        
        &_load-more
            display: block

            margin: 0px auto

            color: white
            
            border-color: black
            background-color: black

.meta-item
    display: inline-block

    margin-right: 15px

    font-size: 14px
    color: $light-grey_meta

.meta-author

.meta-author:after
    position: relative
    right: -7px
    content: "/"

.meta-category

.meta-category:after
    position: relative
    right: -7px
    content: "/"

@media (max-width: 480px)
    .excerpt
        width: 100%

        &-buttons-group
            display: flex
            flex-direction: column

            height: 99px

        &-button
            width: auto

            &_read-on
                margin: 0px 0px 15px

            &_read-later
