.excerpt
    position: relative

    padding: 60px 0px

    &__button-group
        height: 40px
        margin: 30px 0px 0px

        font-size: 0 // уберает пробелы между блочно-строчными элементами
    
    &:before
        z-index: -1
        position: absolute
        top: 0px
        left: 50%

        display: block
        content: ""
        height: 2px
        width: 50px
        margin-left: -25px

        background-color: $light-green

@media (max-width: 480px)
    .excerpt
        //width: 100%
        padding: 40px 0px

        &__button-group
            display: flex

            height: 95px
            
            flex-direction: column
