.footer
    padding: 15px 8%

    background-color: var(--primary)

    &__link
        position: relative
        display: inline-block
        margin: 0px 0px 0px 30px

        font-size: 17px
        line-height: 40px
        color: var(--white)

        &::after
            position: absolute
            top: 10px
            left: -30px

            content: ""
            
            width: 20px
            height: 20px

        &_instagram::after
            background-image: url(../img/icon/iconmonstr-instagram-11.svg)

        &_facebook::after
            background-image: url(../img/icon/iconmonstr-facebook-1.svg)
