/* Footer */

.footer
    padding: 15px 8%
    
    background-color: var(--primary)

    user-select: none

/* List */

.footer__list
    margin: 0px
    padding: 0px
    
    font-size:  0px
    
    list-style-type: none

/* item */

@media (min-width: 992px)
    .footer__item
        display: inline-block
        margin: 0px 20px 0px 0px

/* Link */

.footer__link
    position: relative

    display: inline-block
    margin: 0px 0px 0px 35px

    color: var(--white)
    font-size: 17px
    line-height: 40px

.footer__link::after
    position: absolute
    top: 10px
    left: -35px

    content: ""
    width: 20px
    height: 20px

.footer__link_instagram::after
    background-image: url(../img/icon/iconmonstr-instagram-11.svg)

.footer__link_facebook::after
    background-image: url(../img/icon/iconmonstr-facebook-1.svg)
