*
    margin: 0px
    padding: 0px
    //box-sizing: border-box

body
    

main
    min-height: 100%
    min-height: calc(100vh - 120px) // прижимает подвал к низу окна при маштабировании
    //width: 95%
    //max-width: 1170px
    //margin: 35px auto
    //padding: 40px 8%

    //background-color: #FFFFFF

.container
    padding: 140px 8% 40px
    //margin: 40px 0p
