.header
    display: flex
    width: 100%
    height: 70px
    padding: 0px calc(8% - 10px)

    background-color: var(--primary)

    align-items: center
    justify-content: space-between

    user-select: none

    &__logo
        padding: 0px 10px

        font-size: 19px
        line-height: 40px
        font-weight: bold
        text-transform: uppercase
        text-decoration: none
        color: var(--white)
    
    &__menu
        position: relative
        //z-index: 2
        //display: flex
        width: 40px
        height: 40px
        
        //align-items: center
        cursor: pointer

        &::after
            position: absolute
            top: 10px
            left: 10px

            width: 20px
            height: 20px

            content: var(--menu)

        &_active::after
            content: var(--x-mark)

    &__nav
        position: absolute
        top: 70px
        left: 0px

@media (max-width: 480px)
    //.header
        
        &__logo
            width: 80px
            font-size: 12

@media (min-width: 480px)
    .header
        
        &__nav
            left: auto
            right: 0px
