.header
    display: flex
    width: 100%
    height: 70px
    padding: 0px 8%

    background-color: var(--primary)

    align-items: center
    justify-content: space-between

    &__logo
        font-size: 19px
        line-height: 40px
        font-weight: bold
        text-transform: uppercase
        text-decoration: none
        color: var(--white)
    
    &__nav
        position: absolute
        top: 70px
        left: 0px

@media (max-width: 480px)
    //.header
        
        &__logo
            width: 80px
            font-size: 12

@media (min-width: 480px)
    .header
        
        &__nav
            left: auto
            right: 0px
