/* Main */

.main
    min-height: 100vh
    padding: 110px 8% 0px

/* Wrapper */

.main__wrapper
    max-width: 720px
    margin: 0px auto

/* Title */

.main__title
    margin: 0px 0px 40px

    color: var(--lightgray)
    text-align: center
    font-size: 17px
    text-transform: uppercase
