.meta
    display: flex
    margin: 8px 0px 20px

    flex-wrap: wrap
    
    //user-select: none

    &__tag
        margin: 0px 10px 0px 0px

        font-size: 14px
        line-height: 1.5
        color: var(--lightgray)

        &::after
            position: relative
            right: -6px
            
            content: "/"
            font-family: NullFont

        &:last-child
            margin: 0px
        
            &::after
                display: none
            
    //&__link
        color: var(--lightgray)
        text-decoration: none
