/* Meta */

.meta
    display: flex
    flex-wrap: wrap
    margin: 5px 0px 15px
    
    user-select: none

/* Tag */
    
.meta__tag
    margin: 0px 10px 0px 0px

    color: var(--lightgray)
    font-size: 15px
    line-height: 1.5

.meta__tag::after
    position: relative
    right: -4px
    
    content: "/"
    display: inline-block
    height: 14px
    
    overflow: hidden

.meta__tag:last-child
    margin: 0px
        
.meta__tag:last-child::after
    display: none
