.nav-button
    position: relative
    z-index: 2
    
    width: 20px
    height: 18px

    &:before
        position: absolute
        top: 9px
        left: 1px

        display: block
        content: ""
        width: 11px
        height: 2px

        background-color: var(--white)

        transform: rotate(45deg)

    &:after
        position: absolute
        top: 9px
        left: 8px

        display: block
        content: ""
        width: 11px
        height: 2px

        background-color: var(--white)

        transform: rotate(-45deg)

    &_active
        transform: rotate(180deg)