/* Nav */

.nav
    background-color: var(--primary)

    user-select: none

@media (max-width: 480px)
    .nav
        width: 100%
        padding: 0px 8%

/* List */

.nav__list
    margin: 0px
    margin: 0px

    list-style-type: none

.nav__list .nav__list
    padding: 0px
           
.nav__list_active
    display: block

@media (max-width: 480px)
    .nav__list
        display: none
        padding: 0px 0px 20px

/* Item */
    
.nav__item
    position: relative
    
    color: var(--white)
    font-size: 17px
    line-height: 40px

/* Item-text */

.nav__item-text
    text-transform: uppercase
    font-weight: bold

/* Link */

.nav__link
    display: inline-block
    height: 40px

    color: var(--white)
    text-transform: none

@media (max-width: 480px)
    .nav__link
        margin: 0px 0px 0px 30px

/* Button */

.nav__button
    position: absolute
    top: 0px
    right: -10px

    display: block
    width: 40px
    height: 40px
    margin: 0px
    padding: 0px

    border: none
    background-color: transparent

.nav__button_menu
    top: -55px
    right: calc(8% - 10px)

/* Icon */

.nav__icon
    position: absolute
    top: 10px
    left: 10px

    width: 20px
    height: 20px

    fill: var(--white)

.nav__icon_list_active
    transform: rotate(180deg)
        
.nav__icon_theme_active
    fill: var(--black)

.nav__icon_menu,
.nav__button_active .nav__icon_x-mark
    display: block

.nav__icon_x-mark,
.nav__button_active .nav__icon_menu
    display: none
