.page
    min-height: 100%
    margin: 0px

    font-family: Sen //font: normal 16px/1.75 "Sen"//, sans-serif
    font-size: 16px
    line-height: 1.7
    color: var(--gray)
    flex: 1
    
    &__header
        z-index: 1
        position: fixed
        top: 0px
        left: 0px

    //& a
        text-decoration: none
