.publication
    margin-bottom: 40px

    &__title
        margin: 0px
        
        font-size: 48px
        line-height: 1.2
        text-transform: uppercase
        color: var(--darkgray)

    &__content h2
        margin: 40px 0px 20px
        
        font-size: 35px
        line-height: 1.2
        text-transform: uppercase
        color: var(--darkgray)

    &__content h3
        margin: 40px 0px 20px
        
        font-size: 28px
        line-height: 1.2
        text-transform: uppercase
        color: var(--darkgray)

    &__content h2 + h3
        margin: 20px 0px
        
    &__content p
        margin: 20px 0px

    &__content a
        text-decoration: none

    &__content img
        display: block
        width: 100%
        margin: 0px 0px 20px

@media (max-width: 480px)
    .publication
        
        &__title
            font-size: 27px
            //line-height: 1.2

        &__content h2
            font-size: 25px
            //line-height:
        
        &__content h3
            font-size: 20px
