@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap')

body
    font-family: Sen
    //font: normal 16px/1.75 "Sen"//, sans-serif

p
    margin: 0px 0px 15px

    font-size: 16px
    line-height: 1.75
    color: $color-gray

h1
    margin: 0px 0px 8px

    font-size: 48px
    line-height: 1.2
    text-transform: uppercase
    color: $color-darkgray

h2
    margin: 0px 0px 15px
    
    font-size: 35px
    line-height: 1.2
    text-transform: uppercase
    color: $color-darkgray

a
    text-decoration: none

img
    //display: block

    width: 100%
    //margin: 0px auto 15px
    margin: 20px 0px
    //border: 2px solid $key

    user-select: none

@media (max-width: 480px)

    h1
        font-size: 27px
        //line-height: 1.2

    h2
        font-size: 25px
        //line-height:
